<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center mt-5 mb-5">
      <div class="card border-0 mt-5 mb-5">
        <div class="card-body">
          <h1 class=" text-success"><%= Spree.t('checkout_page.payment.ok.thank_you') %></h1>
          <p class="lead"><%= Spree.t('checkout_page.payment.ok.order') %></p>

          <a href="/" class="btn btn-primary btn-lg mt-3"><%= Spree.t(:continue_shopping) %></a>
        </div>
      </div>
    </div>
  </div>
</div>
