<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Admin Actions</h1>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Action</th>
          <th>Details</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <% cache(event, expires_in: 12.hours) do %>
            <tr>
              <td><%= event.name %></td>
              <td>
                <%= render "properties", properties: event.properties.except(:changes) %>
              </td>
              <td><%= event.time %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @events %>
  </div>
</div>
