<div class="min-h-screen flex items-center justify-center bg-radial-gradient-top">
  <div class="rounded-lg p-6 w-full max-w-md">
    <div class="flex justify-center">
      <%= image_tag 'vetfort/logo.png', alt: 'Logo', class: 'h-16 w-auto' %>
    </div>
    <div class="flex justify-center mb-6">
      VetFort Shop
    </div>
    <h1 class="text-2xl font-bold mb-6 text-center">Наши социальные сети</h1>
    <div class="space-y-4">
      <a class="
         flex items-center bg-white hover:bg-gray-100 font-bold py-3 px-6 rounded-2xl text-center transition duration-300" href="https://vetfort.md" target="_blank">
        <%= image_tag 'vetfort/logo.png', alt: 'tiktok', class: 'h-9 w-auto mr-5' %>
        В Магазин
      </a>
      <a class="
         flex items-center bg-white hover:bg-gray-100 font-bold py-3 px-6 rounded-2xl text-center transition duration-300" href="https://www.tiktok.com/@vetfort_zoomagazin?_t=8mwF8K1PDZG" target="_blank">
        <%= image_tag 'vetfort/tiktok.svg', alt: 'tiktok', class: 'h-9 w-auto mr-5' %>
        TikTok
      </a>
      <a class="
        flex items-center bg-white hover:bg-gray-100 font-bold py-3 px-6 rounded-2xl text-center transition duration-300" href="https://www.instagram.com/vetfort_zoomagazin?igsh=MTRldjAyam9vdjlxOQ==" target="_blank">
        <%= image_tag 'vetfort/instagram.svg', alt: 'instagram', class: 'h-9 w-auto mr-5' %>
        Instagram
      </a>
    </div>
  </div>
</div>
